.svgControls
{
  float: left;
  width: 300px;
  height: auto;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  margin: 10px;
  text-align: center;
}

.svgContainer
{
  float: left;
  margin: auto;
  width: 800px ;
  height:600px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
body{
  margin: auto;
}
.svgTurn
{
  color: #d67820;
  font-size: 20px;
  font-weight: bold;
}
.svgAlert
{
  color: red;
  font-size: 20px;
  font-weight: bold;
}

ellipse {
  animation: move 10s 20.5s ease infinite;
}

.resetBtn
{
  width: 200px;
  height: 30px;
  cursor: pointer;
  background-color: silver;
  font-size: 13px;
  margin-bottom: 10px;
}
.winner{
  margin-bottom: 5px;
  margin-top: 7px;
}
